 
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
	font-family: "Segoe UI", Arial, sans-serif
}

@keyframes rotate360 {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate360 {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

#splash {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	background-color: white;
	z-index: 1000; 
}
	
#splash img {
	width: 80px;
	height: 80px;
	animation: rotate360 5s linear infinite;
	-webkit-animation: rotate360 5s linear infinite;
}

#splash div {
	padding-top: 30px;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    padding: 0 !important;
}


.sbMain {
	
}

.sbCell {
    width: 20px;
    height: 16px;
    border: solid 1px #444;
    background-color: white;
    color: #111;
    font: bold 10px sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.sbName1 {
    width: 60px;
    background-color: #f22;
    color: white;
}

div.sbName2 {
    width: 60px;
    background-color: #ff2;
    color: black;
}
  
div.sbTotal {
    width: 40px;
}

.sHeader {
    width: 20px;
    height: 10px;
	border: solid 1px #444;
    background-color: #555;
    color: white;
    font: normal 7px sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sHeaderName {
   width: 60px;
}

.hammer {
    padding: 0;
    width: 12px;
    height: 12px;
	min-width: 12px;
	min-height: 12px;
}

.weightBar {
	height: 6%;
	width: 100%;
	position: absolute;
	left: 0;
	background-color: #ffff60;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
    opacity: 0.8;
}


.drawButton {
	position: absolute;
	bottom: 5px;
	left: 5px;
	background-color: #0092a4;
}

#renderCanvas {
    width       : 100%;
    height      : 100%;
    touch-action: none;
}

#drawWeight {
    background-image   : url(/images/draw_area.svg);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
    height      	   : 100%;
    position: relative;
}

#drawButton {
    position    : absolute; 
    left        : 5px; 
    bottom      : 5px; 
    z-index     : 900;
}

#settingsFab {
    position    : absolute; 
    right       : 5px; 
    bottom      : 5px; 
    z-index     : 900;
}

.md-sidenav-left {
	width: 20%;
}