<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="css/skippy.css">
  <link rel="stylesheet" href="css/angular-material.min.css">
  <title>skippy</title>
 </head>
 <body ng-app="skippy" ng-controller="ctrl" layout="column" >
  <div id="splash">
   <img src="images/spinner.png"></img>
   <div>loading...</div>
  </div>
   
  <md-toolbar>
   <div class="md-toolbar-tools">
   
    <md-button xclass="draw-menu-button" aria-label="draw" ng-click="testDraw()">T</md-button>
	<md-button xclass="draw-menu-button" aria-label="draw" ng-click="startup()">R</md-button>

    <md-menu md-offset="-8 48">
     <md-button class="draw-menu-button" aria-label="draw" ng-click="draw()" ng-click="$mdOpenMenu($event)" >
      <md-icon class="draw-icon" md-svg-src="images/curling_draw.svg"> </md-icon>
     </md-button>
     <md-menu-content class="draw-menu">
      <div class="draw-weight" weight-selector></div>
      <md-button class="md-primary md-raised" aria-label="?" ng-click="draw()">
       <md-icon md-svg-src="images/curling_stone_moving.svg"> </md-icon>
      </md-button>
     </md-menu-content>
    </md-menu>
    
    <span flex></span>
    <div class="sbMain">
     <div layout="row" flex>
      <div class="sHeader sHeaderName">TEAM</div>
      <div class="sHeader sHammer">H</div>
      <div class="sHeader" layout="column" ng-repeat="e in [1,2,3,4,5,6,7,8,9,10,11]" flex>{{e}}</div>
      <div class="sHeader sbTotal">TOTAL</div>
     </div>
     <div layout="row" flex>
      <div class="sbCell sbName1">SUI</div>
      <div class="sbCell sHammer"></div>
      <div class="sbCell" layout="column" ng-repeat="e in [1,2,3,4,5,6,7,8,9,10,11]" flex>{{}}</div>
      <div class="sbCell sbTotal">{{}}</div>
     </div>
     <div layout="row" flex>
      <div class="sbCell sbName2">SWE</div>
      <div class="sbCell sHammer"><md-icon md-svg-src="images/hammer.svg" class="hammer"></md-icon></div>
      <div class="sbCell" layout="column" ng-repeat="e in [1,2,3,4,5,6,7,8,9,10,11]" flex>{{}}</div>
      <div class="sbCell sbTotal">{{}}</div>
     </div>
    </div>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
     <ng-md-icon icon="settings" aria-label="settings" ng-click="toggle('right')" ></ng-md-icon>
    </md-button>
   </div>
  </md-toolbar>
 
  <md-content style="position:relative">
   <canvas id="renderCanvas" touch-action="auto"></canvas>
   
   <md-button class="md-fab draw-fab" >
   <md-icon md-svg-src="images/curling_stone_moving.svg"> </md-icon>
   </md-button>
   
   <md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
     <h1 class="md-toolbar-tools">Right</h1>
    </md-toolbar>
    <md-button ng-click="close('right')" class="md-primary">Close</md-button>
   </md-sidenav> 
   
  </md-content> 
 
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-aria.min.js"></script>
  <script src="js/angular-messages.min.js"></script>
  <script src="js/angular-material.min.js"></script>
  <script src="js/angular-material-icons.min.js"></script> 
  <script src="js/pep.min.js"></script>
  <script src="js/babylon.max.js"></script>
  <script src="js/spline.js"></script>
  <script src="js/ease.js"></script>
  <script src="js/skippy.js"></script>
 </body>
</html>

